@media screen and (max-width: 1400px){

    //main

    .header__content img{
        max-width: 70% !important;
    }
    nav ul li{
        font-size: 0.9em !important;
    }
    .header__phone{
        font-size: 0.9em !important;
    }
    .title__main{
        font-size: 4.5em !important;
    }

    .about{
        font-size: 0.9em !important;
    }

    .button{
        height: 60px !important;
    }
    .footer__content p{
        font-size: 0.9em !important;
    }

    //main
}
@media screen and (max-width: 1200px){
    //main

    .header__content{
        height: 90% !important;
    }

    //main
}

@media screen and (max-width: 998px){

    //main

    body{
        font-size: 0.8em !important;
    }
    .button{
        height: 50px !important;
    }

    //main
}

@media screen and (max-width: 768px){

    //main

    .container__content{
        width: 80% !important;
    }

    .header__content{
        grid-template-columns: 20% 50% 30% !important;
    }



    //main
}

@media screen and (max-width: 650px){

    //main

    .fa{
        display: block !important;
        font-size: 30px/16px*1em !important;
        justify-self: end;
        color: #ffffff;
    }

    .header{
        z-index: 100;
        // height: 100vh !important;
        // background: #000000;
    }

    .header__content{
        grid-template-columns: 30% 70% !important;
        grid-template-rows: 80px 70% 10%;
        // height: 100vh !important;
    }

    .header__content img{
        max-width: 100% !important;
    }

    .header__content nav{
        display: none;
        grid-area: 2/1/3/3;
        height: 100%;
        // display: flex;
        justify-content: center;
    }

    .header__content nav ul{
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-items: center;
        text-align: center;
        justify-content: center;
        align-content: center;
    }

    nav ul li{
        margin-left: 0 !important;
        margin-bottom: 40px;
        font-size: 22px/16px*1em !important;
    }

    nav ul li a:hover,nav ul li a:active,nav ul li a:focus{
        padding-bottom: 0 !important;
        border-bottom: none !important;
    }
                            

    nav ul li a{
        color: #8188a0 !important;
    }
    nav ul li a:hover, nav ul li a:active, nav ul li a:focus{
        color: #ffffff !important;
    }

    .header__phone{
        display: none;
        grid-area: 3/1/4/3;
        text-align: center !important;
        color: #ffffff !important;
        font-size: 22px/16px*1em !important;
    }

    .title__main{
        text-align: center;
        font-size: 3.7em !important;
    }
    .container__content{
        width: 90% !important;
    }

    .about, footer{
        display: none !important;
    }

    .button{
        align-self: center;
        height: 60px !important;
    }

    .main__content{
        display: grid !important;
        grid-template-rows: 50% 50%;
        grid-template-columns: 100%;
        height: 100%;
        width: 100%;
    }

    .title__main{
        align-self: end;
    }

    .button{
        justify-self: center;
        align-self: center;
    }

    .header__mobile{
        height: 100vh !important;
    }
    //main
}

@media screen and (max-width: 468px){

    //main
    .title__main{
        font-size: 2.8em !important;
    }

    .button{
        height: 60px !important;
    }

    //main
}

@media screen and (max-width: 360px){

    //main

    .title__main{
        font-size: 2.1em !important;
    }

    //main

}