@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&family=Poppins:wght@300;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  scroll-behavior: smooth;
  -webkit-transition-duration: 1s;
          transition-duration: 1s; }

a {
  text-decoration: none; }

.red {
  color: #ef3131; }

ul {
  list-style: none; }

.fa {
  display: none !important; }

.container__header {
  width: 90.8045977011%;
  margin: 0 auto;
  padding: 0 10px 0 10px;
  height: 100%; }

.container__content {
  width: 66.6666666667%;
  margin: 0 auto;
  padding: 0 10px 0 10px;
  height: 100%; }

.container__content {
  width: 66.6666666667%;
  margin: 0 auto;
  padding: 0 10px 0 10px;
  height: 100%; }

.container__content__second {
  width: 74.7126436782%;
  margin: 0 auto;
  padding: 0 10px 0 10px;
  height: 100%; }

body {
  position: relative;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  overflow: hidden;
  background-image: -webkit-gradient(linear, left top, right top, from(#111319), to(rgba(17, 19, 25, 0.4))), url("../../media/images/main__bg.jpeg");
  background-image: linear-gradient(90deg, #111319 0%, rgba(17, 19, 25, 0.4) 100%), url("../../media/images/main__bg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
  body .header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 17.578125%; }
    body .header .header__content {
      display: grid;
      grid-template-columns: 20% 60% 20%;
      height: 100%;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      body .header .header__content img {
        max-width: 100%; }
      body .header .header__content nav ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-item-align: start;
            align-self: start; }
        body .header .header__content nav ul li {
          font-family: 'Mulish', sans-serif;
          font-weight: 400;
          font-size: 1.125em;
          margin-left: 60px; }
          body .header .header__content nav ul li a {
            color: #ffffff; }
          body .header .header__content nav ul li a:hover, body .header .header__content nav ul li a:active, body .header .header__content nav ul li a:focus {
            padding-bottom: 10px;
            font-weight: 800;
            border-bottom: 3px solid #ef3131; }
        body .header .header__content nav ul li:first-child {
          margin-left: 0; }
      body .header .header__content .header__phone {
        text-align: right;
        font-weight: 700;
        color: #ef3131;
        font-size: 1.25em;
        line-height: 150%; }
  body main {
    height: 100%;
    color: #ffffff; }
    body main .second {
      gap: 1.882813% !important; }
    body main .main__content {
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      gap: 4.8828125%; }
      body main .main__content .title__main {
        font-weight: 700;
        font-size: 7.5em;
        line-height: 100%; }
      body main .main__content .subtitle__main__second {
        font-weight: 600;
        text-align: center;
        line-height: 100%;
        font-size: 4.6875em; }
      body main .main__content .title__main__second {
        font-size: 15.625em;
        line-height: 100%;
        font-weight: 700;
        text-align: center; }
        body main .main__content .title__main__second .write {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; }
          body main .main__content .title__main__second .write p {
            color: #fff;
            overflow: hidden;
            white-space: nowrap;
            margin: 0 auto;
            letter-spacing: 0.15em;
            -webkit-animation: write 3.5s steps(30, end);
                    animation: write 3.5s steps(30, end); }
      body main .main__content .about {
        font-weight: 300;
        font-size: 1.375em;
        line-height: 150%;
        color: #A9AFC3; }
      body main .main__content .about__second {
        font-weight: 300;
        font-size: 1.375em;
        line-height: 150%;
        color: #A9AFC3;
        text-align: center; }
      body main .main__content .button {
        max-width: 270px;
        width: 100%;
        border: 2px solid #ef3131;
        height: 70px;
        border-radius: 50px;
        display: grid;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: center;
        font-family: 'Mulish', sans-serif;
        font-weight: 700;
        font-size: 1.25em;
        text-transform: uppercase;
        color: #ffffff; }
      body main .main__content .button:hover {
        cursor: pointer;
        border-color: #e41d1d; }
      body main .main__content .button__second {
        max-width: 447px;
        width: 100%;
        background: #ef3131;
        border: 2px solid #ef3131;
        height: 60px;
        border-radius: 50px;
        display: grid;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: center;
        align-self: center;
        font-family: 'Mulish', sans-serif;
        font-weight: 700;
        font-size: 1.25em;
        text-transform: uppercase;
        color: #ffffff; }
      body main .main__content .button:hover {
        cursor: pointer;
        border-color: #e41d1d;
        background: #e41d1d; }
      body main .main__content .footer__second {
        text-align: center;
        font-family: 'Mulish', sans-serif;
        font-size: 1.25em;
        line-height: 150%; }

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 17.578125%; }
  footer .footer__content {
    display: grid;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: right; }
    footer .footer__content p {
      font-family: 'Mulish', sans-serif;
      font-weight: 700;
      font-size: 1.25em;
      color: #ffffff;
      line-height: 150%; }

/*# sourceMappingURL=style.css.map */